@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
    background: rgb(187, 187, 223) !important;
}

.swiper-button-next,
.swiper-button-prev{
    top: -70%;
    outline: none;
}