@media screen and (max-width: 500px) {
    .swiper {
        width: 70%;
        --swiper-navigation-color: #000000;
        --swiper-pagination-color: #000000;
     }
     
     
     .swiper-slide img {
        width: auto;
        height: auto;
        max-width: 85%;
        max-height: 100%;
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        position: absolute; 
        
}
}